.header {

  background-color: lightblue;

 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 20px;
 margin: 5px;


}

.loginBtn {
  background-color: red;
  padding: 10px 20px;
  border-radius: 5px;
}


.logo {

text-decoration: underline;

}